/file_detection_202*/comparison_files_*.txt
/file_detection_202*/irrelevant_files_*.txt
/file_detection_202*/unclassified_files_*.txt
/file_detection_202*/all_checked_files_*.txt
/misc
/reading_logs_*
/__pycache__
*.pyc
/logs_coordinate
/logs_status_coordinate
advanced.log
gmaps_coordinates.log
logs_status_coordinate_2024/status_coordinate-1-2024.log
output.log
